In [5]:
    print("hello")
    print("hello world")

hello
hello world

In [7]:
num1=5
num2=90
print(num1+num2)

95

In [8]:
num1=89
num2=34
num3=num1+num2
print(num3)

123

In [9]:
x,y,z=1,3.6,"hello"
print(x,y,z)

1 3.6 hello

In [12]:
x=y=z="hei"
print(x,y,z)

hei hei hei

### comments

In [13]:
# This is a single-line comment
print("hello,world!")# this is also a comment

hello,world!

In [14]:
"""
ed
ed
ed
"""
print("hello")

hello

In [ ]:
# ed
# ed
# ed

### type

In [15]:
x=4
y="jh"
z=[2,3,4]
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

### type conversion

In [18]:
num_str="45"
print(type(num_str))

num_int=int(num_str)## num_int will be an integer 45
print(type(num_int))

<class 'str'>
<class 'int'>

In [19]:
num_str="3.45"
print(type(num_str))

num_float=float(num_str)# num_float will be a float 3.45
print(type(num_float))

<class 'str'>
<class 'float'>

### python user-input

In [2]:
username=input("enter username:")
print("Hello",username)

enter username:john
Hello john

In [6]:
x=input("enter first number:")
y=input("enter second number:")
print("the addition result is:",x+y)

enter first number:89
enter second number:97
the addition result is: 8997

In [7]:
x=float(input("enter first number:"))
y=int(input("enter second number:"))
c=x+y
print("the addition result is:",x+y)

enter first number:89
enter second number:97
the addition result is: 186.0

In [ ]:
a="""my name is shamil 
i am currrently residing in 
bangalore. for my career as a 
python developer."""
print(a)

## String

### string length

In [10]:
my_string="hello, world!"
length=len(my_string)
print(length)

13

### string indexing

In [17]:
my_string="hello, world!"
first_char=my_string[0]
print(first_char)

h

### string slicing

In [20]:
# inclusive start,exclusive end
my_string="hello, world!"
sliced_string=my_string[1:5]
print(sliced_string)

ello

In [22]:
#negative indices
my_string="hello, world!"
last_char=my_string[-1]
second_last_char=my_string[-2]
print(last_char,second_last_char)

! d

In [35]:
#omitted indices
my_string="Hello, world!"
start_omitted=my_string[:5]
end_omitted=my_string[5:]
print(start_omitted,end_omitted)

Hello , world!

In [40]:
#step size
my_string="Hello, world!"
every_second_char=my_string[0:5:2]
print(every_second_char)

Hlo

### string concantenation

In [42]:
a="Hello"
b="world"
c=a+b
print(c)

Helloworld

In [43]:
a="Hello"
b="world"
c=a+" "+b
print(c)

Hello world

In [45]:
a="Hello"
b="world"
c=a+" "+b+('!'*20)
print(c)

Hello world!!!!!!!!!!!!!!!!!!!!

### string methods

In [46]:
s1="hello"
print(s1.upper())

HELLO

In [47]:
s2="HELLO"
print(s2.lower())

hello

In [51]:
s3="  Hello, world!  "
print(s3)
print(s3.strip())

  Hello, world!
Hello, world!

In [56]:
alpha_check="Hello".isalpha()
print(alpha_check)
digit_check="123".isdigit()
print(digit_check)
alnum_check="hello123".isalnum()
print(alnum_check)

True
True
True

In [60]:
my_string="apple,banana,cherry"
fruits=my_string.split(",")
print(fruits)
joined_string="+".join(fruits)
print(joined_string)

['apple', 'banana', 'cherry']
apple+banana+cherry

In [62]:
my_string="Hello, world!"
print(my_string)
first_string=my_string.replace('Hello','Hi')
print(first_string)

Hello, world!
Hi, world!

### string formatting

In [71]:
name="Alice"
age=23
#s="my name is "+name+" and i am "+age+" years old"
formatted_string="my name is %s and i am %d years old." %(name,age)
print(formatted_string)

my name is Alice and i am 23 years old.

In [6]:
name="Rinshad"
age=30
formatted_string=f"my name is {name} and i am {age} years old." 
print(formatted_string)

my name is Rinshad and i am 30 years old.

In [1]:
name="Ramees"
age=20
formatted_string="my name is {} and i am {} years old.".format(name, age)
print(formatted_string)

my name is Ramees and i am 20 years old.

In [3]:
pi=3.14159265359
formatted_pi="the value of pi is aproximately={:0.2f}".format(pi)
print(formatted_pi)

the value of pi is aproximately=3.14

## python booleans

In [52]:
x= True
y= False
print(x,y)

True False

In [11]:
x=5
y=10
greater_than=x>y
equal_to=x==y
logical_and=(x<10)and(y>5)
print(greater_than)
print(equal_to)
print(logical_and)

False
False
True

### operations

#### Arithmetic operations

In [17]:
x=10
y=5
addition=x+y
substraction=x-y
multiplication=x*y
division=x/y
modulus=x%y#only remainder is shown
exponentiation=x**y#right(y) is the power of left(x) operent
float_division=x//y#the division is rounded into nearest whole number
print("addition=",addition)
print("substraction=",substraction)
print("multiplication=",multiplication)
print("division=",division)
print("modulus=",modulus)
print("exponentiation=",exponentiation)
print("float_division=",float_division)

addition= 15
substraction= 5
multiplication= 50
division= 2.0
modulus= 0
exponentiation= 100000
float_division= 2

#### comparison operator
###### !=-->not equal
###### ==-->is equal

#### logical operators

In [18]:
x=5
print(x>3 and x<10)
print(x>3 or x<10)
print(not(x>3 and x<10))#reverse the result

True
True
False

#### assignment operators

In [4]:
x=10
#add and assign
x+=5
print(x)
#subtract and assign
x-=5
print(x)
#multiply and assign
x*=5
print(x)
#divide and assign
x /= 5
print(x)

15
10
50
10.0

#### identity operators

In [22]:
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is z)
print(x is y)
print(x==y)
print(x is not z)
print(x is not y)
print(x!=y)

True
False
True
False
True
False

#### membership operators

In [25]:
x=["apple","banana"]
print("banana" in x)

True

In [26]:
x=["apple","banana"]
print("pineapple" not in x)

True

## python list

### access list items

In [28]:
numbers=[1,2,3,4,5,6,7,8,9]
first_element=numbers[0]
second_element=numbers[1]
last_element=numbers[-1]
print("first_element=",first_element)
print("second_element=",second_element)
print("last_element=",last_element)
print(numbers[2:5])
print(len(numbers))

first_element= 1
second_element= 2
last_element= 9
[3, 4, 5]
9

### list operation and methods

#### adding elements

In [30]:
fruits=["apple","banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

In [31]:
fruits=["apple","banana"]
fruits.insert(0,"cherry")#in insert we can choose the position of added element
print(fruits)

['cherry', 'apple', 'banana']

#### Extending lists

In [32]:
fruits=["apple","banana"]
more_fruits=("cherry","orange")
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'orange']

#### change item value

In [33]:
fruits=['apple', 'banana', 'cherry', 'orange']
fruits[1]="melon"
print(fruits)
fruits[1:3]="melon","pineapple"
print(fruits)

['apple', 'melon', 'cherry', 'orange']
['apple', 'melon', 'pineapple', 'orange']

#### removing elements

In [43]:
fruits=['apple', 'banana', 'cherry', 'orange']
fruits.remove("banana")
print(fruits)
removed_fruit=fruits.pop()
print(fruits)
clear_fruits=fruits.clear()
print(fruits)

['apple', 'cherry', 'orange']
['apple', 'cherry']
[]

#### copying list

In [44]:
fruits=['apple', 'banana', 'cherry', 'orange']
copy_fruits=fruits.copy()
#or
#copy_fruits=fruits[:]
print(copy_fruits)

['apple', 'banana', 'cherry', 'orange']

#### reversing a list

In [45]:
numbers=[1,2,3,4,5,6]
numbers.reverse()
print(numbers)

[6, 5, 4, 3, 2, 1]

#### sorting a list

In [51]:
numbers=[2,3,8,4,6,1]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4, 6, 8]
[8, 6, 4, 3, 2, 1]

#### nested list

In [54]:
nested_list=[[1,2,3],[4,5,6],[7,8]]
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8]]

#### counting

In [56]:
numbers=[1,2,3,4,5,6,7,7,7]
count=numbers.count(7)
print(count)

3

#### max.min.sum

In [57]:
numbers=[1,2,3,4,5,6,7]
print(max(numbers))
print(min(numbers))
print(sum(numbers))

7
1
28

In [63]:
#write a program to swap first and last elements
my_list=[1,3,5,7,9]
my_list[0],my_list[-1]=my_list[-1],my_list[0]
print(my_list)

[9, 3, 5, 7, 1]

In [70]:
#write a program to find the third largest element in a list
my_list=[2,7,45,4,67,89,6,12,123]
my_list.sort(reverse=True)
print("third largest element=",my_list[2])

third largest element= 67

### Tuple

#### immutability of tuples

In [1]:
numbers=(1,2,3,4,5)
numbers[1]=10

#### update tuple

In [6]:
mytuple=('apple', 'banana', 'cherry', 'orange')
y=list(mytuple)
y.append('orange')
mytuple=tuple(y)
print(mytuple)

('apple', 'banana', 'cherry', 'orange', 'orange')

In [9]:
mytuple=('apple', 'banana', 'cherry', 'orange')
y=('orange',)
mytuple += y
print(mytuple)

('apple', 'banana', 'cherry', 'orange', 'orange')

#### unpacking a tuple

In [12]:
fruits=('apple', 'banana', 'cherry')
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [13]:
fruits=('apple', 'banana', 'cherry', 'orange','pineapple','melon,','kiwi')
x,*y,z=fruits
print(x)
print(y)
print(z)

apple
['banana', 'cherry', 'orange', 'pineapple', 'melon,']
kiwi

### set

In [14]:
numbers={1,2,3,4,5}
print(numbers)

{1, 2, 3, 4, 5}

#### unique elements

In [15]:
numbers={1,2,3,2,1}
print(numbers)

{1, 2, 3}

#### add

In [18]:
set1={'apple', 'banana', 'cherry'}
set1.add('orange')
print(set1)

{'cherry', 'orange', 'apple', 'banana'}

In [17]:
set1={'apple', 'banana', 'cherry'}
set2={'orange','pineapple','melon,','kiwi'}
set1.update(set2)
print(set1)

{'melon,', 'apple', 'banana', 'pineapple', 'orange', 'cherry', 'kiwi'}

#### remove set items

In [19]:
myset={'apple', 'banana', 'cherry'}
myset.discard('banana')
print(myset)

{'cherry', 'apple'}

remove,
pop,
clear

#### set operations

In [21]:
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [22]:
set1={1,2,3}
set2={3,4,5}
intersection_set=set1.intersection(set2)
print(intersection_set)

{3}

In [26]:
set1={1,2,3}
set2={3,4,5}
difference_set=set1.difference(set2)
print(difference_set)

{1, 2}

In [24]:
set1={1,2,3}
set2={3,4,5}
symmetric_difference_set=set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 4, 5}

### python conditions
1.if
2.if...else
3.if....elif...else

In [29]:
a=int(input("first number:"))
b=int(input("second number:"))

if b>a:
    print("b is greater than a")
elif b<a:
    print("a is greater than b")
else: 
    print("a and b are equal")

first number:5
second number:6
b is greater than a

In [31]:
#write a python program to check a number taken from the user,is positive or negative
a=int(input("number:"))

if a>=0:
    print("a is positive")
else:
    print("a is negative")

number:5
a is positive

In [32]:
# write a python program to accept the mark from the user and print the grade
#marks       grade
#>90          A
#90-80        B
#80-70        C
#70-60        D
#<60          FAILED

In [1]:
a=int(input("Mark:"))

if a>90:
    print('A grade')
elif 90>a>80:
    print('B grade')
elif 80>a>70:
    print('C grade')
elif 70>a>60:
    print('D grade')
else:
    print('Failed')

Mark:41
Failed

### short hand If,If-else

In [2]:
a=200
b=33
if a > b: print("a is greater than b")

a is greater than b

In [3]:
a=2
b=330
print('a') if a > b else print('b')

b

### nested if

In [7]:
x=52
if x>10:
    print("above ten,")
    if x>20:
        print('also above 20!')
        if x>50:
            print("above 50")
    else:
        print('but not above 20')
else:
    print('finished')

above ten,
also above 20!
above 50

### the pass statement

In [8]:
a=33
b=200
print('stage 1')
if b>a:
    pass
print('stage 2')
print('stage 3')

stage 1
stage 2
stage 3

In [ ]:
# write a program to check a character is vowel or not

In [21]:
alphabet=input('enter a alphabet:')
vowel=["a","e","i","o","u"]
if alphabet in vowel:
    print('vowel')
else:
    print("not vowel")

enter a alphabet:b
not vowel

In [ ]:
#write a program to check a number is prime number or not

In [8]:
n=int(input('enter a number:'))
if n==1:
    print('is not prime number')
elif n%2==0:
    print('not prime number')
elif n==2:
    print('not prime number') 
else:
    print(n,'is prime number')

enter a number:2
not prime number

### loop

### while loop

In [27]:
i=1
n=5
while i <= n:
    print(i)
    i=i+1
print("finished")

1
2
3
4
5
finished

In [28]:
i=1
n=100
total=0
while i<=n:
    total=total+i
    i=i+1
print("total:",total)

total: 5050

In [ ]:
#write a program to reverse a number.

In [29]:
num=int(input("enter a number:"))
rev=0
while (num!=0):
    rem=num%10
    rev=rev*10+rem
    num=num//10
print("the reversed number is :",rev)

enter a number:234
the reversed number is : 432

In [ ]:
#write a program to print n natural number in descending order using while loop for a given range.

In [30]:
i=10
n=1
while i>=n:
    print(i)
    i=i-1
print('finished')

10
9
8
7
6
5
4
3
2
1
finished

In [2]:
#looping through list
mylist=[1,2,3,4,5]
i=0
while i<len(mylist):
    print(mylist[i])
    i=i+1

1
2
3
4
5

In [2]:
mylist=[1,2,3,4,5]
i=0
list2=[]
while i<len(mylist):
    x=mylist[i]*mylist[i]
    list2.append(x)
    i=i+1
print(list2)

[1, 4, 9, 16, 25]

In [3]:
#program to calculate the sum of numbers until
#the user enters 0
total = 0
number=int(input('enter a number:'))
while number != 0:
    total += number
    #take number input again
    number=int(input('enter a number:'))
print('total=',total)

enter a number:4
enter a number:54
enter a number:34
enter a number:1
enter a number:0
total= 93

In [6]:
#factorial prgrm
num=int(input('enter a nuumber:'))
fac=1
i=1
while i<=num:
    fac=fac*i
    #print(fac)
    i=i+1
print('factorial of' ,num,'is :',fac)

enter a nuumber:5
factorial of 5 is : 120

### break statement

In [7]:
i=1
while i< 6:
    print(i)
    if i==4:
        print(i*i)
        break
    i=i+1

1
2
3
4
16

### continue statement

In [8]:
i=0
list=[23,45,34,12,2]
while i<50:
    i=i+1
    if i in list:
        continue
    print(i)

1
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19
20
21
22
24
25
26
27
28
29
30
31
32
33
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50

## python for loops

In [9]:
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [14]:
fruits=['apple','banana','cherry','orange','pineapple','melon,','kiwi']
for x in fruits:
    if x=='orange':
         break
    print(x)

apple
banana
cherry

In [15]:
fruits=['apple','banana','cherry','orange','pineapple','melon,','kiwi']
for x in fruits:
    if x=='orange':
         continue
    print(x)

apple
banana
cherry
pineapple
melon,
kiwi

### range function

In [16]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [17]:
for x in range(2,20):
    print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [18]:
for x in range(2,20,2):
    print(x)

2
4
6
8
10
12
14
16
18

In [19]:
#nested loops

In [20]:
colors=['red','big','sweet']
fruits=['apple','banana','cherry']
for x in colors:
    for y in fruits:
        print(x,y)
    print('..................')

red apple
red banana
red cherry
..................
big apple
big banana
big cherry
..................
sweet apple
sweet banana
sweet cherry
..................

In [21]:
# code to find the sum of squares of each elements of list using for loop

numbers=[2,4,56,7,8]
sum_=0
for num in numbers:
    sqr=num**2
    sum_=sum_+sqr
    #print(sqr)
print('the sum of squares:',sum_)

the sum of squares: 3269

In [22]:
# searches for prime numbers from 10-20

for num in range(10,20):
    for i in range(2,num):
        if num %i==0:
            break
    else:
        print(num,'is a prime number')

11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

In [27]:
# program to print multiplication table of given number
n=7

for i in range(1,11):
    product =n*i
    print('%d X %d = %d' % (n,i,product))

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [6]:
#pattern
row=5

for i in range(1,row+1):
    for j in range(1,i+1):#run inner loop i+1 times
        print(j,end=" ")
    print()

1
12
123
1234
12345

In [9]:
#pattern
row=5

for i in range(1,row+1):
    for j in range(1,i+1):#run inner loop i+1 times
        print(i,end=" ")
    print()

1
22
333
4444
55555

In [10]:
#pattern
row=5

for i in range(1,row+1):
    for j in range(1,i+1):#run inner loop i+1 times
        print("*",end="")
    print()

*
**
***
****
*****

In [17]:
n=5
k=5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [20]:
row=5
for i in range(0,row):
    for j in range(0,i+1):
        print('*',end=' ')
    print()
for i in range(row,0,-1):
    for j in range(0,i-1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
s=input('enter a string:')

digits=0
letters=0

for i in s:
    if i.isdigit():
        digits +=1
    elif i.isalpha():
        letters +=1
    else:
        pass
    
print('number of digits:',digits)
print('number of letters:',letters)

enter a string:messi36
number of digits: 2
number of letters: 5

### list comprehension

In [24]:
fruits=['apple',"pineapple","orange",'cherry']
newlist=[]

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'pineapple', 'orange']

In [25]:
fruits=['apple',"pineapple","orange",'cherry']

newlist=[x for x in fruits if 'a' in x]

print(newlist)

['apple', 'pineapple', 'orange']

In [26]:
fruits=['apple',"pineapple","orange",'cherry']

newlist2=[x for x in fruits if x != 'apple']

print(newlist2)

['pineapple', 'orange', 'cherry']

In [27]:
fruits=['apple',"pineapple","orange",'cherry']

newlist3=[x for x in fruits]
print(newlist3)

['apple', 'pineapple', 'orange', 'cherry']

In [28]:

newlist4=[x*x for x in range(10)]
print(newlist4)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
fruits=['apple',"pineapple","orange",'cherry']

newlist5=[x.upper() for x in fruits]

print(newlist5)

['APPLE', 'PINEAPPLE', 'ORANGE', 'CHERRY']

### using enumerate

In [30]:
for index,value in enumerate(['the','big','bang','theory']):
    print(index,value)

0 the
1 big
2 bang
3 theory

In [34]:
grocery=["bread","milk","butter"]
enumerategrocery=enumerate(grocery)

print(enumerategrocery)
print(type(enumerategrocery))

print(list(enumerategrocery))

enumerategrocery=enumerate(grocery,10)
print(list(enumerategrocery))

<enumerate object at 0x0000015C1CAB90D0>
<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

### zip

In [35]:
questions=['name','color','shape']
answers=['apple','red','a circle']

for question, answer in zip(questions,answers):
    print('what is your {0}? i am {1}.'.format(question, answer))

what is your name? i am apple.
what is your color? i am red.
what is your shape? i am a circle.

In [38]:
lis=[1,3,5,4,6,1,7,8]

print('the lis in sorted order is:')
for i in sorted(lis):
    print(i,end=" ")
print('')

print('the lis in sorted order without duplicate is:')
for i in sorted(set(lis)):
    print(i,end=' ')

the lis in sorted order is:
1 1 3 4 5 6 7 8
the lis in sorted order without duplicate is:
1 3 4 5 6 7 8

In [ ]:
#using reversed

In [39]:
lis=[1,3,5,4,6,1,7,8]
print('The lis in reversed order is:')
for i in reversed(lis):
    print(i,end=' ')

The lis in reversed order is:
8 7 1 6 4 5 3 1

In [40]:
#iter and next

In [42]:
vowels=['a','e','i','o','u']

vowels_iter=iter(vowels)

print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))

a
e
i
o
u