## python functions

In [ ]:
def function_name(argument):
    
    #function body
    return

In [1]:
def greet():
    print('Hello World!')

In [2]:
greet()

greet()

Hello World!
Hello World!

In [3]:
def name_fn(name):
    print('hello', name)
name_fn('ravi')
name_fn(90)

hello ravi
hello 90

In [4]:
x=input('Enter a name:')
name_fn(x)

Enter a name:shamnad
hello shamnad

In [7]:
#function with two arguments
def add_numbers(num1,num2):
    sum=num1+num2
    print("sum:",sum)
add_numbers(90,9)

sum: 99

In [9]:
x=int(input('Enter a number:'))
y=int(input('Enter a number:'))
add_numbers(x,y)

Enter a number:23
Enter a number:45
sum: 68

In [12]:
add_numbers(9,4)

sum: 13

### function argument with default values

In [15]:
def add_numbers(num1=2,num2=4):
    sum=num1+num2
    print("sum:",sum)
#function call without argument
add_numbers()
#function call with two arguments
add_numbers(3,9)
#function call with one argument
add_numbers(num2=5)

sum: 6
sum: 12
sum: 7

### function with arbitary arguments

In [16]:
#prgrm to fnd sum of multiple numbers

def find_sum(*numbers):
    result=0
    for num in numbers:
        result +=num
    print("sum=",result)

    
find_sum(1,2,3)

find_sum(1,2,3,4,4,56,7,8,9)

sum= 6
sum= 94

### return statement

In [17]:
#funtion definition
def find_square(num):
    result=num*num
    return result

square = find_square(4)
print('square',square)

square 16

In [18]:
def calculation(num1,num2):
    sqr=num1*num2
    sum=num1+num2
    sub=num1-num2
    return sqr,sum,sub
x,y,z=calculation(6,7)
print('calculations',x,y,z)

calculations 42 13 -1

### python recursive function

In [19]:
def factorial(x):
    if x==1:
        return 1
    else:
        return(x*factorial(x-1))
num=3
print('the factorial of',num,'is',factorial(num))

the factorial of 3 is 6

In [ ]:
# factorial(3)
# 3*factorial(2)
# 3*2*factorial(1)
# 3*2*1
# 3*2
# 6

In [23]:
#task

#define a function that checks if a number is even or oddo
def even_odd(num):
    if num/2==0:
        return 'even'
    else:
        return 'odd'

num1=int(input("enter a number:"))

print(even_odd(num1))

enter a number:23
odd

### Lambda function

In [24]:
def greet():
    print('Hello world')

In [25]:
greet=lambda:print('hello world')
greet()

hello world

In [26]:
def name_fn(name):
    print('hello',name)
    
name_fn('ravi')

hello ravi

In [28]:
greet_user=lambda name:print('hello',name)

greet_user('john')

hello john

### Python Variable Scope

        local variable 
        global variable

In [1]:
message="global hi"
def greet():
    message="local hello"
    print(message)
    
greet()
print(message)

local hello
global hi

### Module

In [2]:
#python module addition
def add_(a,b):
    result=a+b
    return result
#save this as python file

In [2]:
import example
x=example.add_(4,5)
print(x)

9

### Standard Library Modules

In [1]:
#import standard math module
import math
print('the value pi is',math.pi)

the value pi is 3.141592653589793

In [3]:
# PYTHON IMPORT WITH RENAMING
import math as m
print(m.pi)

3.141592653589793

In [8]:
#PYTHON FROM....IMPORT STATEMENT
from math import pi,log
print(pi)
print(log(90))

3.141592653589793
4.499809670330265

In [1]:
#IMPORT ALL NAMES
from math import *
print('the value of pi is',pi)
r=5
print('Radius=',2*pi*r)
print(log(r))
sqrt(r)

the value of pi is 3.141592653589793
Radius= 31.41592653589793
1.6094379124341003

2.23606797749979

## Error Handling (exception)

In [13]:
def divide(number,divisor):
    print('starting calculation')
    result=number/divisor
    print(number,'/',divisor,'=',result)

    
#divide(87,40)
divide(9,0)

starting calculation
87 / 40 = 2.175
starting calculation

ZeroDivisionError: division by zero

### try-except

In [18]:
#ZeroDivisionError
def divide(number,divisor):
    print('starting calculation')
    try:
        result=number/divisor
        print(number,'/',divisor,'=',result)
    except ZeroDivisionError:
        print('cannot divide by zero')
    print('calculation over..')

In [19]:
divide(87,40)
divide(9,0)

starting calculation
87 / 40 = 2.175
calculation over..
starting calculation
cannot divide by zero
calculation over..

In [20]:

def divide(number,divisor):
    print('starting calculation')
    try:
        result=number/divisor
        print(number,'/',divisor,'=',result)
    except ZeroDivisionError:
        print('cannot divide by zero')
    print('calculation over..')
    
    
divide(23,"asd")

starting calculation

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [23]:
#ZeroDivisionError,ValueError seperately
def divide(number,divisor):
    print('starting calculation')
    try:
        result=float(number)/float(divisor)
        print(number,'/',divisor,'=',result)
    except(ZeroDivisionError):
        print('cannot divide by zero')
    except ValueError:
        print('incorrect inputs')
    print('calculation over..')
    
    
divide(23,"asd")
divide(9,0)
divide(23,4)

starting calculation
incorrect inputs
calculation over..
starting calculation
cannot divide by zero
calculation over..
starting calculation
23 / 4 = 5.75
calculation over..

In [25]:
#ZeroDivisionError,ValueError in single line
def divide(number,divisor):
    print('starting calculation')
    try:
        result=float(number)/float(divisor)
        print(number,'/',divisor,'=',result)
    except(ZeroDivisionError,ValueError):
        print('incorrect inputs')
    print('calculation over..')


divide(23,"asd")
divide(9,0)
divide(23,4)

starting calculation
incorrect inputs
calculation over..
starting calculation
incorrect inputs
calculation over..
starting calculation
23 / 4 = 5.75
calculation over..

In [28]:
#IndexError
def get_head(items):
    try:
        return items[0]
    except IndexError:
        return 'list too short'
print(get_head([]))

list too short

In [30]:
#else
y=4
try:
    print(y)
except:
    print('y is not difined')
else:
    print('nothing')

4
nothing

In [32]:
#finally
m=8
try:
    print(m)
except:
    print('something went wrong')
finally:
    print('try-except is finished')

8
try-except is finished

In [34]:
x=-8
if x<0:
    raise Exception('sorry,no numbers below zero')

Exception: sorry,no numbers below zero

In [36]:
x=7
x='hello'
if not type(x) is int:
    raise TypeError('only integers are allowed')

TypeError: only integers are allowed

## python dictionaries
            
            used to store data values in key value pairs.

In [4]:
mydict={
   ' brand':'ford',
    'electric':False,
    'year':1964,
    'colour':['red','white','blue']
}
print(mydict)
print(len(mydict))

{' brand': 'ford', 'electric': False, 'year': 1964, 'colour': ['red', 'white', 'blue']}
4

#### accessing items

In [8]:
mydict={
   ' brand':'ford',
    'model':'mustang',
    'year':1964,
}
x=mydict['model']
print(x)

mustang

In [10]:
mydict={
   ' brand':'ford',
    'model':'mustang',
    'year':1964,
}
y=mydict.get('model')
print(y)

mustang

In [15]:
mydict={
   ' brand':'ford',
    'model':'mustang',
    'year':1964,
}

x= mydict.keys()
print(x)

y= mydict.values()
print(y)

z= mydict.items()
print(z)

dict_keys([' brand', 'model', 'year'])
dict_values(['ford', 'mustang', 1964])
dict_items([(' brand', 'ford'), ('model', 'mustang'), ('year', 1964)])

#### change values

In [4]:
mydict={
    'brand':'ford',
    'model':'mustang',
    'year':1964
}
mydict['year']=2018
mydict['model']="etios liva"
mydict['brand']='toyota'
print(mydict)

{'brand': 'toyota', 'model': 'etios liva', 'year': 2018}

#### update values

In [5]:
mydict={
    'brand':'ford',
    'model':'mustang',
    'year':1964
}
mydict.update({'brand':"toyota"})
mydict.update({'model':'innova'})
mydict.update({'year':2010})
print(mydict)

{'brand': 'toyota', 'model': 'innova', 'year': 2010}

#### adding items

In [6]:
mydict={
    'brand':'ford',
    'model':'mustang',
    'year':1964
}
mydict['color']='silver'
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'silver'}

#### removing items

In [9]:
mydict={
    'brand':'ford',
    'model':'mustang',
    'year':1964,
    'color':'silver'
}

mydict.pop('color')
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [18]:
mydict={
    'brand':'ford',
    'model':'mustang',
    'year':1964,
    'color':'silver'
}

mydict.popitem()
print(mydict)

mydict.clear()
print(mydict)

SyntaxError: invalid syntax (2737138176.py, line 14)

In [23]:
mydict={
    'brand':'ford',
    'model':'mustang',
    'year':1964,
    'color':'silver'
}
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'silver'}

NameError: name 'delmydict' is not defined

### loops in dictionary

In [24]:
xdict={
    'brand':'ford',
    'model':'mustang',
    'year':1964,
    'color':'silver'
}
for i in xdict:
    print(i)

brand
model
year
color

In [25]:
xdict={
    'brand':'ford',
    'model':'mustang',
    'year':1964,
    'color':'silver'
}
for i in xdict:
    print(xdict[i])

ford
mustang
1964
silver

In [26]:
xdict={
    'brand':'ford',
    'model':'mustang',
    'year':1964,
    'color':'silver'
}
for i in xdict:
    print(i,xdict[i])

brand ford
model mustang
year 1964
color silver

In [28]:
d={
    'brand':'ford',
    'model':'mustang',
    'year':1964,
    'color':'silver'
}
for x in d.values():
    print(x)

ford
mustang
1964
silver

In [29]:
d={
    'brand':'ford',
    'model':'mustang',
    'year':1964,
    'color':'silver'
}
for x in d.keys():
    print(x)

brand
model
year
color

In [30]:
prices={'bread':3.5,'butter':5,'banana':15}
for k in sorted(prices.keys()):
    print(k,'->',prices[k])

banana -> 15
bread -> 3.5
butter -> 5

#### copy a dictionary

In [31]:
dct={
    'brand':'ford',
    'model':'mustang',
    'year':1964,
    'color':'silver'
}
mydict=dct.copy()
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'silver'}

#### nested dictionaries

In [35]:
myfamily={
    'kid1':{
        'name':'rinshad',
        'age':28
    },
    'kid2':{
        'name':'rinshifa',
        'age':20
    },
    'father':{
        'name':'abdul latheef',
        'age':50
    },
    'mother':{
        'name':'ummu habeeba',
        'age':48
    }
}
print(myfamily)

{'kid1': {'name': 'rinshad', 'age': 28}, 'kid2': {'name': 'rinshifa', 'age': 20}, 'father': {'name': 'abdul latheef', 'age': 50}, 'mother': {'name': 'ummu habeeba', 'age': 48}}