In [1]:
#1.Write a Python program to concatenate two tuples element-wise.

In [3]:
mytuple=('apple', 'banana', 'cherry', 'orange')
mytuple2=('pineapple','kiwi')
mytuple += mytuple2
print(mytuple)

('apple', 'banana', 'cherry', 'orange', 'pineapple', 'kiwi')

In [4]:
#2.Write a Python program to count the number of occurrences of an element in a tuple.

In [2]:
tuple=(1,23,45,1,5,67,8,10,1)
x = [i for i in tuple if i == 1]
print('element 1 is',len(x),'times')

element 1 is 3 times

In [3]:
#3.Write a Python program to convert a list of tuples into a dictionary.

In [4]:
tups= [("akash", 10), ("gaurav", 12), ("anand", 14),
        ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
for item in tups:
    dictionary[item[0]] = item[1]
print( dictionary)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [3]:
#4.Write a Python program to slice a tuple into multiple sub-tuples based on a given size.

In [6]:
tuple=(1,2,3,4,56,78,98)
sub_tuple1=tuple[0:4]
sub_tuple2=tuple[4:7]
print('sub tuple1:',sub_tuple1)
print('sub tuple2:',sub_tuple2)

sub tuple1: (1, 2, 3, 4)
sub tuple2: (56, 78, 98)

In [9]:
#5.Write a Python program to create a nested tuple and access an element from it.

In [13]:
players_and_age=(('messi',36),('cristiano',39),('rooney',38),('neymar',31))
print('1st element',players_and_age[0][0])

1st element messi

In [14]:
#6.Write a Python program to remove an element from a tuple.

In [5]:
mytuple=(1,2,3,4,5,6,7,8)
print('original tuple:',mytuple)
mytuple_list=list(mytuple)

mytuple_list.remove(4)
mytuple=tuple(mytuple_list)

print('after removing 4:',mytuple)

original tuple: (1, 2, 3, 4, 5, 6, 7, 8)
after removing 4: (1, 2, 3, 5, 6, 7, 8)

In [1]:
#7.Write a Python program to merge two tuples and remove the duplicate elements

In [20]:
t1=(1,3,5,7,9,0)
t2=(1,0,2,4,6,8)
in_t1=set(t1)
in_t2=set(t2)
t3=in_t1-in_t2
print(tuple(t3)+t2)

(9, 3, 5, 7, 1, 0, 2, 4, 6, 8)

In [ ]:
#8.Write a Python program to create a tuple with a variable length and unpack it into multiple variables.

In [30]:
mytuple=(1,2,3,4,45,6,798,45,23)
x,*y,z,m,n=mytuple
print(x)
print(*y)
print(z)

1
2 3 4 45 6
798

In [2]:
#9.Write a Python program to find the index of the first occurrence of an element in a tuple.

In [31]:
t= ('a','b','r','a','k','a','d','h','a')  
print(t)   
index = t.index('k')  
print("Index of k is: ",index)

('a', 'b', 'r', 'a', 'k', 'a', 'd', 'h', 'a')
Index of k is:  4